.App {
  height: auto;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.token {
  height:25px;
  padding-left: 1.5em;
}
.no-left{
  padding-left: 0em;
}
a {
  color: #7939ae;
}
.numb-purp {
	color: #7333db;
  padding-left: .2em;
  padding-right: .2em;
}

.myButton {
  left: 300px;
  /* width:30px!important; */
  font-size:14px!important;
  border-radius:4px;
  background-color:white;
  margin-top:9px;
  vertical-align: top;
  cursor: pointer;

}

.wallet-div {
  position:absolute;
  right: 80px;
  display: inline
}

.buy {
  color: green;
}

.sell {
  color: red;
}
.transactions .card-content {
  padding: 0;
}

.transactions table {
  width: 100%;
}

.transactions .table-wrapper {
  overflow: auto;
  max-height: 90vh;
}

.transactions .card .card-header {
  border-bottom: 1px solid rgba(24,28,33,.06);
}
.card {
max-width:969px !important;
}
.transactions .card {
  border-radius: 6px;
}
.switch-btn {
  background-color:#63c1da;
  padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .8rem;
    padding-right: .8rem;
    border-radius: 9999px;
    cursor: pointer;
 
}
.navcolor {
  color: red;
}
.emoji
{height: 25px;
  padding-left:5px;
}
.no-bottom {
  margin-bottom:0!important;
}
th, td {
  font-family: 'verdana'!important;
  font-weight: 800!important;
}
html {
  height:100%
}
body {
  min-height:100%;
  background: linear-gradient(334deg,#4c249f 28%,rgba(255,119,225,.9) 164%),#290b5a;
  color:white!important;
}
.column
{
  /* background-color:#2e0a59!important;
  color:white; */
  background: linear-gradient(334deg,#4c249f 28%,rgba(255,119,225,.9) 164%),#290b5a!important;
  color:rgb(131, 115, 115)!important;
  background-color:#341662!important;

}
.remove-underline {
  text-decoration:none;
}
.coinicon {
  width:16px!important;
  height:16px;
}

.icon {
  width: 25px;
}
/* 
.relative-div {
  position:relative;
}
.child {
  position: fixed;
  top: 0;
} */

.child1 {
  left: 0;
  opacity:.95;
}

.child2 {
  left: 20px;

}

.navbar-brand {
  padding-left: 50px;
  /* color: white!important; */
  color: #b7f8f3!important;
  font-size: 30px;
  font-weight: 600;
}
.dropdown-toggle {
  color:white!important;
  font-size:20px;
  font-weight:600;
  
}
.dropdown{
  padding-left:400px;

}
.dropdown-menu{
  left:400px;
}
.navbar {
  background-color: #2d0b5a!important;
}
.topData {
  display:inline-block;
  
}
.addressText {
  display: inline-block;
}
@media only screen and (max-width: 1280px) {
  .wallet-div {
    right: 400px
  }}
  @media only screen and (max-width: 900px) {
    .wallet-div {
      right: 65px
    }}

@media only screen and (max-width: 600px) {

  .dropdown {
    padding-left:80px;
  }
  .addressText {
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    
  }
  .addressTextShort {
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
}
  .dropdown-menu{
    left: 80px;
  }
  /* .topData {
    display:block;
  } */

}
@media only screen and (max-width: 350px) {


  .addressTextOldPhones {
    width:80px;
  }}
.navbar {
  background-color: #2d0b5a!important;
}
.card-header {
  padding:0px!important;
  font-size:18px;
  display: inline !important;
  max-height: 70px !important;
}
.card-header-tall-mobile {
  max-height: 100px !important;
}

.address-input {
  background-color: #9846b852;
  border-radius: 5px;
  width:400px;
  font-size:16px;
}
.blue-hover:hover {
  background-color: #b8f8f266
}
.stamp {
  transform: rotate(0deg);
	color: #2775ca;
	font-size: 10px;
	font-weight: 700;
	border: 2px solid #2775ca;
	display: inline-block;
	padding: 2px 4px;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	 /* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px; */
  mix-blend-mode: multiply;
}

.purple-hover:hover{
  background-color:#e2c8fa;
}
.claimStamp {
  transform: rotate(0deg);
	color: #800080;
	font-size: 11px;
	font-weight: 700;
	border: 2px solid #800080;
	display: inline-block;
	padding: 2px 4px;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	 /* -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 944px 604px; */
  mix-blend-mode: multiply;
}

.expired-stamp {
  color: rgb(147, 131, 131)!important;
  border-color:rgb(107, 103, 103)
}

@media only screen and (max-width: 350px) {

  .address-input {
    width: 320px;
    size:8px;
  }
  }
a.dropdown-item:hover {
background-color: #e0b3f3 !important;
color: #0a0a0a;
}
.navbar-toggler-icon {
  background-image: url('https://icon-library.com/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg') !important;
}
.twenty-two {
  font-size:18px;
}
.transactions .card .card-header {
	background-color: #e3d4fa;}
.card-header-title{
	padding-top:1.2rem!important;}
  .section {
    padding:2.5rem!important;
  }
  .header-text {
        font-size:30px;   
  }
  
  @media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
    .header-text {
            font-size:26px;
    }
    .show-mobile{
      display: inline
    }
   
    .header-mobile {
      font-size:16px;
    }

.section {
  padding:1.5rem!important;
}
  }



@media only screen and (min-width:767px) {
  .show-mobile {
    display:none;
  }
}

.small-header {
  font: size 18px;
  padding-top: 35px;
}

.token-right {
  margin-left: -7px;
}

.small-balance{
  font-size:10px;
}

.amount-input {text-align:right; }
.amount-container {border:none;border-color:#806d99;border-radius:3px;
  padding:8px;margin-left:15px;margin-right:15px;

}